[Unit]
Description=Minecraft Server
After=network.target

[Service]
WorkingDirectory=/opt/minecraft/data

User=minecraft
Group=minecraft

Restart=always

ExecStart=/usr/bin/java -Xms1024M -Xmx1024M -jar /opt/minecraft/bin/minecraft_server.jar nogui

[Install]
WantedBy=multi-user.target
