[Unit]
Description=Minecraft Server
After=network.target

[Service]
WorkingDirectory=/minecraft/data

User=minecraft
Group=minecraft

Restart=always

ExecStart=/usr/bin/java -Xmx2G -jar /minecraft/bin/minecraft_server.jar nogui

[Install]
WantedBy=multi-user.target
